In [1]:
import numpy as np 
import pandas as pd

In [30]:
data = pd.read_csv("miris_pv.csv")

In [31]:
data.head()

                    DateTime   PV
0  2019-05-13 00:00:00+00:00  0.0
1  2019-05-13 00:00:05+00:00  0.0
2  2019-05-13 00:00:10+00:00  0.0
3  2019-05-13 00:00:15+00:00  0.0
4  2019-05-13 00:00:20+00:00  0.0

In [32]:
data.dtypes

DateTime     object
PV          float64
dtype: object

In [38]:
data['DateTime']= pd.to_datetime(data['DateTime'])

In [39]:
data.dtypes

DateTime    datetime64[ns, UTC]
PV                      float64
dtype: object

In [40]:
df = data.resample('D', on='DateTime').agg({'PV':'sum'})

In [41]:
df.head()

                                    PV
DateTime
2019-05-13 00:00:00+00:00  3976.081572
2019-05-14 00:00:00+00:00  4105.323820
2019-05-15 00:00:00+00:00  4134.228133
2019-05-16 00:00:00+00:00  3963.648933
2019-05-17 00:00:00+00:00  1080.710676

In [42]:
df.size

39

In [43]:
df.to_csv("miris_PV_Day.csv")